<app-header [menuLinks]="[{nameLink : 'Salir', nameRoute : 'sign-in'}]"></app-header>
<main class="container-fluid" style="height: 86.6vh;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-message-container">
                    <h2 class="text-center message">Bienvenido {{ userName }} a la página principal</h2>
                </div>
            </div>
        </div>
    </div>
    <app-slide></app-slide>
</main>
<app-footer></app-footer>
